.container {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;

  display: grid;
  grid-template-columns: 80px 1fr; /* یک ستون برای نوار کناری و یک ستون برای محتوا */
  grid-template-rows: auto 1fr; /* یک ردیف برای هدر و یک ردیف برای بقیه محتوا */
  height: 90vh;
  width: 90vw;
  overflow: hidden;
}
